{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <form class="form-signin" method ='post'>
                  {% csrf_token %}
                  <div>
                    {{form|crispy}}
                  </div>
                  <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Register</button>
                  <p>Already been here? <a class="btn btn-lg btn-dark btn-block text-uppercase" href=" {% url 'login'%} ">Sign in</a></p> 
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock content %}