{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-10">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 mt-2">
    <div class="container">
        <a class="navbar-brand" href="#">Fashion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=" {% url 'fashion'%} ">Fashion</a>
                <a class="dropdown-item" href=" {% url 'furniture' %} ">Furniture</a>
                <a class="dropdown-item" href=" {% url 'electronics' %} ">Electronics</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    
    <div class="container mydiv">
        <div class="row">
        {% for item in fashion %}
        <div class="col-md-4">
          <div class="bbb_deals">
            {% if item.discount_price %}
            <div class="ribbon ribbbon-{{item.get_label_display}} ribbon-top-right"><span>
                SAVE {{item.get_discount_percent}}%
            </span></div>
            {% endif %}
              <div class="bbb_deals_slider_container">
                  <div class=" bbb_deals_item">
                      <div class="bbb_deals_image zoom"><img src="{{ item.image.url }}" alt=""></div>
                      <div class="bbb_deals_content">
                          <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                              <div class="bbb_deals_item_category"><a href="#">{{item.get_category_display}}</a></div>
                              <div class="bbb_deals_item_price_a ml-auto">
                                {% if item.trend %}
                                  <span class="badge badge-pill badge-{{item.get_label_display}}">{{item.get_trend_display}}</span>
                                {% endif %}
                              </div>
                          </div>
                          <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                              <div class="bbb_deals_item_name"><a href= "{{item.get_absolute_url}}" class="dark-grey-text"> {{item.title}}</a></div>
                              <div class="bbb_deals_item_price ml-auto">
                                {% if item.discount_price %}
                                 <span class = 'mr-3'><del> ${{item.price}} </del></span>
                                 <span>${{item.discount_price}} </span> 
                                {% else %}
                                 <span> ${{item.price}} </span>
                                {% endif %}
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
    </div>
  
</div>
{% endblock content %}