{% extends "base.html" %}
{% load static %}
{% block content %}

    {% include 'partials/_alerts.html' %}

<div class="container-fluid mt-4">

<div id="content-wrapper">
		
		<div class="column">
			<img id=featured src="{{ item.image.url }}">

			<div id="slide-wrapper" >
				<img id="slideLeft" class="arrow" src='{% static "img/l.png" %}'>

				<div id="slider">
					<img class="thumbnail active" src="{{ item.image.url }}">
					<img class="thumbnail" src="{{ item.photo_1.url }}">
					<img class="thumbnail" src="{{ item.photo_2.url }}">
					<img class="thumbnail" src="{{ item.photo_3.url }}">
					<img class="thumbnail" src="{{ item.photo_4.url }}">
					<img class="thumbnail" src="{{ item.photo_5.url }}">
				</div>

				<img id="slideRight" class="arrow" src='{% static "img/r.png" %}'>
			</div>
		</div>

		<div class="column">
      <h1>{{item.title}}</h1>
      {% if item.trend %}
        <span class="badge badge-pill badge-{{item.get_label_display}}"> {{item.get_trend_display}} </span>
      {% endif %}

			<hr>
			<h3>
        {% if item.discount_price %}
            <strong>
                <span><del> ${{item.price}}</del></span>
                <span>  ${{item.discount_price}}</span>
            </strong>
            {% else %}
            <strong>
                <span>${{item.price}}</span>
            </strong>        
            {% endif %}
      </h3>

			<p> {{item.description}} </p>
			{% comment %} <input value=1 type="number"> {% endcomment %}
			<a class="btn btn-dark"href= "{{item.add_item_to_cart}}">Add to Cart</a>
		</div>

  </div>
  
  <hr>
        
    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-2 h4">Related Products</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
      
      {% if cat_items %}
        <!--Grid row-->
        <div class="container mydiv">
          <div class="row">
          {% for item in cat_items %}
          <div class="col-md-4">
            <div class="bbb_deals">
              {% if item.discount_price %}
              <div class="ribbon ribbbon-{{item.get_label_display}} ribbon-top-right"><span>
                  SAVE {{item.get_discount_percent}}%
              </span></div>
              {% endif %}
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="{{ item.image.url }}" alt=""></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_category"><a href="#">{{item.get_category_display}}</a></div>
                                <div class="bbb_deals_item_price_a ml-auto">
                                  {% if item.trend %}
                                    <span class="badge badge-pill badge-{{item.get_label_display}}">{{item.get_trend_display}}</span>
                                  {% endif %}
                                </div>
                            </div>
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name"><a href= "{{item.get_absolute_url}}" class="dark-grey-text"> {{item.title}}</a></div>
                                <div class="bbb_deals_item_price ml-auto">
                                  {% if item.discount_price %}
                                   <span class = 'mr-3'><del> ${{item.price}} </del></span>
                                   <span>${{item.discount_price}} </span> 
                                  {% else %}
                                   <span> ${{item.price}} </span>
                                  {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
      </div>
      <!--Grid row-->
      {% endif %}
      
</div>
{% endblock content %}